@import url(colors.css);

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  min-height: var(--main-height);
  height: max-content;
}

form {
  gap: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
