.headerContainer {
  width: 100%;
  padding: 1.2rem;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.loginText{
  font-size: 18px;
}

.rightSide {
  display: flex;
  gap: 2rem;
  align-items: center;
}
